@import './variable';

body{
    font-family: 'Lato',sans-serif ;
    color: $dark;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color:$secondary;
}
.nav-bg{
    background-color:white;
}

.nav-logo .logo-1{
    color: $primary;
    font-family: Lobster;
}

.nav-logo .logo-2{
    color: $primary-hover;
    font-family: Lobster;
}

.nav-cart{
    background-color: $primary;
    &:hover{
        background-color: $primary-hover;
    }
}

nav li a{
    transition:all .3s ease-in-out;
    &:hover {
        color:$primary;
    }
}

.menu-card{
    background-color: white;
    box-shadow: gray 3px 3px 5px;
    border-radius: 5px;
}

.img{
    // object-fit: fill;
    border-radius: 5px 5px 0px 0px;
    width: 230px;
}
.size{
    background-color: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    &:hover{
        background: $primary;
        color: $pure;
        border-color: $pure;
    }
    &:focus{
        outline: none;
    }
}

.main-btn{
    background-color: $primary;
    transition: all .3s ease-in-out;
    &:hover{
        background: $primary-hover;
    }
    &:focus{
        outline: none;
    }
}

.cart{
    background:$secondary;
    .amount{
        color: $primary;
    }
}

.auth-block{
    background: $secondary;
    min-height: calc(100vh - 86px);
    .login-a{
        color: $primary;
        transition: all .3s ease-in-out;
        &:hover{
            color: $primary-hover;
        }
    }
}

.home{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url('https://images.pexels.com/photos/941869/pexels-photo-941869.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

a.link{
    color: $primary;
}

.noOrder{
    color: $primary;
    
}

#statusOption{
    border:2px solid gray;
    border-radius: 5px;
    option{
        font-size: 0.875rem;
        font-weight: 800;
    }
}

.update-list{
    img{
        border-radius: 5px 0px 0px 5px ;
    }
}

.modal, .deleteModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /*Sit on top*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }

.modal-content {
border-radius: 5px;
padding: 20px;
border: 1px solid #888;
box-shadow: 5px 5px 10px black;
}



